@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #181a1b;
	color: #e8e6e3;
	font-family: "Cascadia Code", ui-sans-serif, system-ui, Roboto;
}

.btn {
	@apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
}

input[type=number] {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 2px;
	-moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
